<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1 class="text-center">{{ page.title }}</h1>

    <object class="pdf-viewer" type="application/pdf" data="{{ 'doctorCBD.pdf' | asset_url }}">

      <a href="{{ 'doctorCBD.pdf' | asset_url }}">doctorsnote.pdf</a>

    </object>

  </div>

</div>
